[submodule "bundle/vim_lib"]
	path = bundle/vim_lib
	url = https://github.com/Bashka/vim_lib.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim_prj"]
	path = bundle/vim_prj
	url = https://github.com/Bashka/vim_prj.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim_start"]
	path = bundle/vim_start
	url = https://github.com/Bashka/vim_start
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
